.Filter {
  height: 80px;
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .Filter {
    height: 120px;
    width: 320px;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
}
